nav{
    display: flex;
    /* background-color: aqua; */
}
*{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0 30px;
    padding: 0;
}
nav ul li{
    margin: 15px 40px;
}   