body{
    margin: 0px;
    padding: 0px;

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.card{
   display: flex!important;
    flex-direction: column !important;
    justify-content: center !important;
align-items: center !important;
background-color: aqua !important;
margin: opx 200px 0px 200px !important; */
/* } */

#cardcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin: 0px 200px 0px 320px;
    width: 22rem;

}

